########################## Metricbeat Configuration ###########################
metricbeat.config.modules:
  path: ${path.config}/conf.d/*.yml
  reload.period: 10s
  reload.enabled: true
metricbeat.max_start_delay: 10s
metricbeat.modules:
  - module: system
    metricsets:
      <%= '#' unless @config['module']['system']['cpu'] %>- cpu             # CPU usage
      <%= '#' unless @config['module']['system']['load'] %>- load            # CPU load averages
      <%= '#' unless @config['module']['system']['memory'] %>- memory          # Memory usage
      <%= '#' unless @config['module']['system']['network'] %>- network         # Network IO
      <%= '#' unless @config['module']['system']['process'] %>- process         # Per process metrics
      <%= '#' unless @config['module']['system']['process_summary'] %>- process_summary # Process summary
      <%= '#' unless @config['module']['system']['uptime'] %>- uptime          # System Uptime
      <%= '#' unless @config['module']['system']['socket_summary'] %>- socket_summary  # Socket summary
      <%= '#' unless @config['module']['system']['core'] %>- core           # Per CPU core usage
      <%= '#' unless @config['module']['system']['diskio'] %>- diskio         # Disk IO
      <%= '#' unless @config['module']['system']['filesystem'] %>- filesystem     # File system usage for each mountpoint
      <%= '#' unless @config['module']['system']['fsstat'] %>- fsstat         # File system summary metrics
      <%= '#' unless @config['module']['system']['raid'] %>- raid           # Raid
      <%= '#' unless @config['module']['system']['socket'] %>- socket         # Sockets and connection info (linux only)
    enabled: true
    period: 10s
    processes: ['.*']
    cpu.metrics:  ["percentages"]
    core.metrics: ["percentages"]
    #filesystem.ignore_types: []
    <% if @config['module']['system']['process'].is_a? Hash %>
    process:
      <% if @config['module']['system']['process']['include_top_n'].is_a? Hash %>
      include_top_n:
        enabled: true
        <%= "include_top_n.by_cpu: #{@config['module']['system']['process']['include_top_n']['by_cpu']}" if @config['module']['system']['process']['include_top_n']['by_cpu'] %>
        <%= "include_top_n.by_memory: #{@config['module']['system']['process']['include_top_n']['by_memory']}" if @config['module']['system']['process']['include_top_n']['by_memory'] %>
      <% end %>
      #process.env.whitelist: []
    <% end %>
    socket.reverse_lookup.enabled: true
    socket.reverse_lookup.success_ttl: 60s
    socket.reverse_lookup.failure_ttl: 60s
    #diskio.include_devices: []

#================================ General ======================================
#name:
#tags: ["service-X", "web-tier"]
#fields:
#  env: staging
#fields_under_root: false
#queue:
#mem:
#events: 4096
#flush.min_events: 2048
#flush.timeout: 1s
#spool:
#file:
#path: "${path.data}/spool.dat"
#permissions: 0600
#size: 100MiB
#page_size: 4KiB
#prealloc: true
#write:
#buffer_size: 1MiB
#flush.timeout: 1s
#flush.events: 16384
#codec: cbor
#read:
#flush.timeout: 0s
#max_procs:

<% if @config['outputs'].is_a? Hash %>
#================================ Outputs ======================================
<% if @config['outputs']['elasticsearch'].is_a? Hash %>
#----------------------------- Elasticsearch output ---------------------------------
output.elasticsearch:
  #enabled: true
  hosts: ["localhost:9200"]
  #compression_level: 0
  #escape_html: false
  #protocol: "https"
  #username: "elastic"
  #password: "changeme"
  #worker: 1
  #index: "metricbeat-%{[agent.version]}-%{+yyyy.MM.dd}"
  #pipeline: ""
  #max_retries: 3
  #bulk_max_size: 50
  #backoff.init: 1s
  #backoff.max: 60s
  #timeout: 90
<% end %>

<% if @config['outputs']['logstash'].is_a? Hash -%>
#----------------------------- Logstash output ---------------------------------
output.logstash:
  <% if @config['outputs']['logstash']['enabled'] %><%= "enabled: #{@config['outputs']['logstash']['enabled']}" %> <% end %>
  <% if @config['outputs']['logstash']['enabled'] %><%= "hosts: [\"#{@config['outputs']['logstash']['hosts']}\"]" %> <% end %>
  <% if @config['outputs']['logstash']['worker'] %><%=- "worker: #{@config['outputs']['logstash']['worker']}" %><% end %>
  <%=- "compression_level: #{@config['outputs']['logstash']['compression_level']}" if @config['outputs']['logstash']['compression_level'] %>
  <%=- "escape_html: #{@config['outputs']['logstash']['escape_html']}" if @config['outputs']['logstash']['escape_html'] %>
  <%= "ttl: #{@config['outputs']['logstash']['ttl']}" if @config['outputs']['logstash']['ttl'] %>
  <%= "loadbalance: #{@config['outputs']['logstash']['loadbalance']}" if @config['outputs']['logstash']['loadbalance'] %>
  <%= "pipelining: #{@config['outputs']['logstash']['pipelining']}" if @config['outputs']['logstash']['pipelining'] %>
  <%= "slow_start: #{@config['outputs']['logstash']['slow_start']}" if @config['outputs']['logstash']['slow_start'] %>
  <% if @config['outputs']['logstash']['backoff'].is_a? Hash -%>
  backoff:
    <%= "init: #{@config['outputs']['logstash']['backoff']['init']}" if @config['outputs']['logstash']['backoff']['init'] %>
    <%= "max: #{@config['outputs']['logstash']['backoff']['max']}" if @config['outputs']['logstash']['backoff']['max'] %>
  <% end -%>
  <%= "index: #{@config['outputs']['logstash']['index']}" if @config['outputs']['logstash']['index'] -%>
  <%= "max_retries: #{@config['outputs']['logstash']['max_retries']}" if @config['outputs']['logstash']['max_retries'] -%>
  <%= "bulk_max_size: #{@config['outputs']['logstash']['bulk_max_size']}" if @config['outputs']['logstash']['bulk_max_size'] -%>
  <%= "timeout: #{@config['outputs']['logstash']['timeout']}" if @config['outputs']['logstash']['timeout'] -%>
<% end -%>
<% if @config['outputs']['kafka'].is_a? Hash -%>
#------------------------------- Kafka output ----------------------------------
#output.kafka:
  #enabled: true
  #hosts: ["localhost:9092"]
  #topic: beats
  #key: ''
  #partition.hash:
  #reachable_only: false
  #hash: []
  #username: ''
  #password: ''
  #version: '1.0.0'
  #codec.json:
  #pretty: false
  #escape_html: false
  #metadata:
  #retry.max: 3
  #retry.backoff: 250ms
  #refresh_frequency: 10m
  #full: true
  #worker: 1
  #max_retries: 3
  #bulk_max_size: 2048
  #timeout: 30s
  #broker_timeout: 10s
  #channel_buffer_size: 256
  #keep_alive: 0
  #compression: gzip
  #compression_level: 4
  #max_message_bytes: 1000000
  #required_acks: 1
  #client_id: beats
<% end %>

<% if @config['outputs']['redis'].is_a? Hash -%>
#------------------------------- Redis output ----------------------------------
#output.redis:
  #enabled: true
  #codec.json:
  #pretty: false
  #escape_html: false
  #hosts: ["localhost:6379"]
  #key: metricbeat
  #password:
  #db: 0
  #datatype: list
  #worker: 1
  #loadbalance: true
  #timeout: 5s
  #max_retries: 3
  #backoff.init: 1s
  #backoff.max: 60s
  #bulk_max_size: 2048
<% end -%>

<% if @config['outputs']['file'].is_a? Hash -%>
#------------------------------- File output -----------------------------------
#output.file:
  #enabled: true
  #codec.json:
  #pretty: false
  #escape_html: false
  #path: "/tmp/metricbeat"
  #filename: metricbeat
  #rotate_every_kb: 10000
  #number_of_files: 7
  #permissions: 0600
<% end -%>

<% if @config['outputs']['console'].is_a? Hash -%>
#----------------------------- Console output ---------------------------------
output.console:
  <%= "enabled: #{@config['outputs']['console']['enabled']}" if @config['outputs']['console']['enabled'] -%>
  <%= "codec.json: #{@config['outputs']['console']['codec_json']}" if @config['outputs']['console']['codec_json'] -%>
  <%= "pretty: #{@config['outputs']['console']['pretty']}" if @config['outputs']['console']['pretty'] -%>
  <%= "escape_html: #{@config['outputs']['console']['escape_html']}" if @config['outputs']['console']['escape_html'] -%>
<% end -%>
<% end -%>

#================================= Paths ======================================
#path.home:
#path.config: ${path.home}
#path.data: ${path.home}/data
#path.logs: ${path.home}/logs

#================================ Keystore ==========================================
#keystore.path: "${path.config}/beats.keystore"

#============================== Dashboards =====================================
#setup.dashboards.enabled: false
#setup.dashboards.directory: ${path.home}/kibana
#setup.dashboards.url:
#setup.dashboards.file:
#setup.dashboards.beat: metricbeat
#setup.dashboards.kibana_index: .kibana
#setup.dashboards.index:
#setup.dashboards.always_kibana: false
#setup.dashboards.retry.enabled: false
#setup.dashboards.retry.interval: 1s
#setup.dashboards.retry.maximum: 0

#============================== Template =====================================
#setup.template.enabled: true
#setup.template.name: "metricbeat-%{[agent.version]}"
#setup.template.pattern: "metricbeat-%{[agent.version]}-*"
#setup.template.fields: "${path.config}/fields.yml"
#setup.template.append_fields:
#- name: field_name
#  type: field_type
#setup.template.json.enabled: false
#setup.template.json.path: "${path.config}/template.json"
#setup.template.json.name: ""
#setup.template.overwrite: false

# Elasticsearch template settings
# setup.template.settings:
#index:
#number_of_shards: 1
#codec: best_compression
#number_of_routing_shards: 30
#enabled: false

#============================== Setup ILM =====================================
#setup.ilm.enabled: auto
#setup.ilm.rollover_alias: "metricbeat"
#setup.ilm.pattern: "{now/d}-000001"

#============================== Kibana =====================================
setup.kibana:
#host: "localhost:5601"
#protocol: "https"
#username: "elastic"
#password: "changeme"
#path: ""

<% if @config['logging'].is_a? Hash -%>
#================================ Logging ======================================
logging:
  <%= "level: #{@config['logging']['level']}" if @config['logging']['level'] %>
  <%= "#selectors: [ ]" if @config['logging']['selectors'] %>
  <%= "to_syslog: #{@config['logging']['to_syslog']}" if @config['logging']['to_syslog'] %>
  <%= "to_eventlog: #{@config['logging']['to_eventlog']}" if @config['logging']['to_eventlog'] %>
  <% if @config['logging']['metrics'].is_a? Hash %>
  metrics:
    <%= "enabled: #{@config['logging']['metrics']['enabled']}"  if @config['logging']['metrics']['enabled'] %>
    <%= "period: #{@config['logging']['metrics']['period']}" if @config['logging']['metrics']['period'] %>
  <% end %>
  <%= "to_files: #{@config['logging']['to_files']}" if @config['logging']['to_files'] %>
  <% if @config['logging']['files'].is_a? Hash %>
  files:
    <%= "path: #{@config['logging']['files']['path']}" if @config['logging']['files']['path'] %>
    <%= "name: #{@config['logging']['files']['name']}" if @config['logging']['files']['name'] %>
    <%= "rotateeverybytes: #{@config['logging']['files']['rotateeverybytes']}" if @config['logging']['files']['rotateeverybytes'] %>
    <%= "keepfiles: #{@config['logging']['files']['keepfiles']}" if @config['logging']['files']['keepfiles'] %>
    <%= "permissions: #{@config['logging']['files']['permissions']}" if @config['logging']['files']['permissions'] %>
    <%= "keepfiles: #{@config['logging']['files']['keepfiles']}" if @config['logging']['files']['keepfiles'] %>
    <%= "interval: #{@config['logging']['files']['interval']}" if @config['logging']['files']['interval'] %>
    <%= "keepfiles: #{@config['logging']['files']['keepfiles']}" if @config['logging']['files']['keepfiles'] %>
  <% end %>
  <%= "json: #{@config['logging']['json']}" if @config['logging']['json'] %>
<% end -%>

<% if @config['xpack'].is_a? Hash -%>
#============================== Xpack Monitoring =====================================
xpack.monitoring:
  <%= "enabled: #{@config['xpack']['enabled']}" if @config['xpack']['enabled'] -%>
#xpack.monitoring.elasticsearch:
#hosts: ["localhost:9200"]
#compression_level: 0
#protocol: "https"
#username: "beats_system"
#password: "changeme"
#max_retries: 3
#bulk_max_size: 50
#backoff.init: 1s
#backoff.max: 60s
#timeout: 90
#metrics.period: 10s
#state.period: 1m
<% end -%>

<% if @config['api'].is_a? Hash -%>
#================================ HTTP Endpoint ======================================
http:
  <%= "enabled: #{@config['api']['enabled']}" if @config['api']['enabled'] -%>
  <%= "host: #{@config['api']['host']}" if @config['api']['host']-%>
  <%= "port: #{@config['api']['port']}" if @config['api']['port'] -%>
<% end -%>

<% if @config['seccomp'].is_a? Hash -%>
#============================= Process Security ================================
seccomp:
  <%= "enabled: #{@config['seccomp']['enabled']}" if @config['seccomp']['enabled'] -%>
<% end -%>